[defaults]
host_key_checking = False
inventory = inventory_aws_ec2.yaml

interpreter_python = /usr/bin/python3

# Αυτά είναι για το dynamic inventory plugin του AWS EC2.
# Λέμε επίσης ότι το remote_user είναι ο ec2-user και το private_key_file είναι το id_ed25519 που βρίσκεται στο .ssh directory.
# inventory = inventory_aws_ec2.yml
enable_plugins = aws_ec2
remote_user = ec2-user
# Εδώ βάζω που θα πρέπει να κοιτάει το ansible για να ψάχνει το Private key για να συνδεθεί στο ec2-server για να κάνει τις εγκαταστάσεις
private_key_file = ~/ssh-key.pem